.tableContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableTitle{
  text-align: center;
  color: white;
  margin-bottom: 60px;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.td,
.th {
  background-color: #d3cdcd;
  text-align: left;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}
