.dashboardC {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-gap: 2rem;
  margin-top: 3rem;
}

.dashboardC > div {
  background: rgba(212, 130, 130, 0.51);
  padding: 7.5rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  width: 75%;
  margin: 0 auto;
}
