.dashboardC {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.dashboardC > div {
  background: rgba(212, 130, 130, 0.51);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.text {
  color: black;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
